<h1>Sign In</h1>

<form action="/sessions/create" class="col-sm-4" method="post">
    <p class="form-group">
        Email address:
        <input class="form-control" name="email" type="email" required>
    </p>
    
    <p class="form-group">
        Password:
        <input class="form-control" name="password" type="password" required>
    </p>
    
    <button class="btn btn-primary">Let me in!</button>
    
    
</form>
<p> New user? <a href="/users/new">Sign up here!</a></p>