<h1>Sign Up</h1>

<form action="/users/create" class="col-sm-4" method="post">
    <p class="form-group">
        Your name:
        <input class="form-control" name="name" autofocus required>
    </p>
    <p class="form-group">
        Email address:
        <input class="form-control" name="email" type="email" required>
    </p>
    
    <p class="form-group">
        Password:
        <input class="form-control" name="password" type="password" required>
    </p>
    <p class="form-group">
        Re-enter Password:
        <input class="form-control" name="password" type="password" required>
    </p>
    
    <button class="btn btn-primary">Sign me up!</button>
    
     <p> Already a registered user? <a href="/login">Sign in here!</a></p>   
</form>
