<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Forms</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  </head>
  <body>

    <div class="container mt-5">

      <h1 class="mb-5">Form Elements</h1>

      <div class="row">
        <div class="col-sm-4 border p-3">

          <h3>The <code>input</code> Element</h3>

          <p><input type="text" autofocus></p>
          <p><input type="text"></p>
          <p><input type="text" placeholder="Enter your name..."></p>
          <p><input type="button" value="Button"></p>
          <p><input type="checkbox"> Check box</p>
          <p><input type="checkbox" checked> Check box</p>
          <p><input type="radio" checked name="group1"> Radio</p>
          <p><input type="radio" name="group1"> Radio</p>
          <p><input type="color"></p>
          <p><input type="date"></p>
          <p><input type="password" placeholder="Enter a password..."></p>
          <p><input type="submit"></p>

          <p>
            <a href="https://www.w3schools.com/tags/att_input_type.asp">
              Learn more about the <code>type</code> attribute
            </a>
          </p>
        </div>

        <div class="col-sm-8 border p-3">
          <h3>Other Elements</h3>
          <p><button>Button</button></p>
          <p>
            <select name="movie_id">
              <option value="1">Apollo 13</option>
              <option value="2">Star Wars</option>
              <option value="3" selected>The Martian</option>
              <option value="4">Sully</option>
            </select>
          </p>
          <video controls>
            <source src="apollo13.mp4" type="video/mp4">
          </video>
        </div>

      </div>
    </div>

  </body>
</html>
